.container{
  max-width: 1080px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #e2e2e2;
  opacity: 0.95;
  align-items: center;
  justify-content: center;
  
}

.main-container{
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  padding: 20px 15px;
  border-radius: 10px;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}